@import '../../variables';

.admin-categories {
  .name {
    flex: 1;
    min-width: 10rem;
  }

  .slug {
    flex: 1;
    min-width: 10rem;
  }

  .admin-category {
    padding: 0.6rem 0.4rem;
  }
}
