@import '../../variables';

.show-recipe {
  .recipe-header {
    position: relative;
    margin: 20px 0 35px;
    gap: 10px 25px;

    .go-back {
      position: absolute;
      top: 6px;
      left: 0;
    }

    .title-category {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h1 {
      margin: 0;
      font-size: 2.5rem;
      text-align: center;
      padding: 0 4rem;
    }
  }

  .wrapper {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .recipe-actions {
      display: flex;
      align-items: center;

      a, button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        padding: 7px;
        border-radius: 50%;

        span {
          font-size: 24px;
        }

        &#edit-recipe {
          $edit-recipe-color: rgb(52, 152, 219);
          color: rgb(52, 152, 219);
          text-decoration: none;
          margin-right: 10px;
          background-color: rgba($edit-recipe-color, 0.15);
        }

        &#delete-recipe {
          color: $danger-color;
          background-color: rgba($danger-color, 0.15);
        }
      }
    }
  }

  .recipe-image {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* padding is based on the width */

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: $main-border-radius;
      object-fit: cover;
      object-position: center;
    }
  }

  .category {
    display: inline-block;
    margin-top: 10px;
    padding: 4px 20px;
    text-decoration: none;
    color: $main-color;
    background-color: transparent;
    border: 1px solid $main-color;
    border-radius: 999px;
    transition-duration: 300ms;

    &:hover {
      background-color: rgba($main-color, 0.12);
    }
  }

  .ingredients .servings {
    display: inline-flex;
    align-items: center;
    border-radius: 0.5rem;
    margin-bottom: 1.2rem;

    .number-servings {
      margin: 0 0.3rem;
      padding: 0 0.6rem;
    }

    button {
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.20rem;
      border-radius: 999px;
      background-color: rgba($main-color, 0.8);
      color: #fff;
      transition-duration: 200ms;
    }

    button:hover {
      background-color: rgba($main-color, 1);
    }

    button.disabled {
      background-color: rgba($main-color, 0.45);
    }

    button span {
      font-size: 1.4rem;
    }
  }

  h2 {
    margin-bottom: 1.6rem;
  }

  .ingredients {
    ul {
      padding-left: 0;
      list-style: none;
    }

    & > p:not(:first-of-type) {
      margin-top: 25px;
    }

    .group-name {
      margin-top: 1.6rem;
    }

    .checkbox-container {
      display: block;
      margin-bottom: 20px;
      cursor: pointer;

      input {
        opacity: 0;
        position: absolute;
        cursor: pointer;
        height: 0;
        width: 0;

        // even though the input isn't visible when we click the label it'll :checked the input
        &:checked + .checkmark:after {
          opacity: 1;
        }

        &:checked + .checkmark:before {
          border-color: rgba(0, 0, 0, 0);
        }

        &:focus + .checkmark:before {
          outline: 2px solid #014ecb;
          outline-offset: 3px;
        }
      }

      // &:hover .checkmark:before {
      //   background-color: #eee;
      // }

      .checkmark {
        display: block;
        position: relative;
        padding-left: 36px;

        &:before {
          content: '';
          position: absolute;
          top: 5px;
          left: 0;
          border: 2px solid rgba(0, 0, 0, 0.65);
          height: 18px;
          width: 18px;
          border-radius: 3px;
        }

        &:after {
          content: '';
          display: inline-block;
          position: absolute;
          height: 16px;
          top: 4px;
          left: 5px;
          opacity: 0;
          background-color: rgba(0,0,0,0);
          border-right: solid 2px $main-color;
          border-bottom: solid 2px $main-color;
          transform: rotate(45deg);
          width: 8px;
        }
      }
    }
  }

  .ingredients, .recipe-content {
    li, p, a, div {
      font-size: 1.2rem;
      line-height: 150%;
    }

    h3 {
      font-size: 1.56rem;
      font-weight: 700;
      margin: 35px 0 10px;
    }

    h4 {
      font-size: 1.25rem;
      font-weight: 700;
    }

    p {
      margin-top: 10px;
    }
  }
}

@media (max-width: 900px) {
  .show-recipe .recipe-header h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 700px) {
  .show-recipe {
    .top p {
      font-size: 2rem;
      margin: 15px 0;
    }

    .recipe-header {
      margin: 15px 0 25px;

      .go-back {
        top: 0;
      }

      h1 {
        font-size: 2rem;
        padding: 0 3.5rem;
      }
    }
  }
}

@media (max-width: 650px) {
  .show-recipe {
    .recipe-header {
      h1 {
        font-size: 1.6rem;
        line-height: 120%;
      }

      .go-back {
        top: -5px;
      }
    }

    h2 {
      font-size: 2rem;
    }

    .ingredients, .recipe-content {
      h3 {
        font-size: 1.36rem;
      }

      h4 {
        font-size: 1.05rem;
      }
    }

    &.container {
      padding: 5px 40px;
    }
  }
}

@media (max-width: 450px) {
  .show-recipe {
    .recipe-header h1 {
      line-height: 100%;
      padding: 0 3rem;
    }

    .top p {
      font-size: 1.5rem;
      margin: 15px 0;

      img {
        width: 35px;
      }
    }

    &.container {
      padding: 5px 25px;
    }
  }
}
