@import '../../variables';

.modal-overlay {
  display: flex;
  padding: 20px;
}

.modal {
  margin: auto;
  background-color: #fff;
  box-sizing: border-box;
  padding: 16px 24px 16px;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
}

.modal-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.modal .modal-title {
  margin: 0;
  font-size: 1.7rem;
}

.close-modal {
  color: #9ca3aa;
  background-color: transparent;
  display: flex;
  margin: 0 -18px 0 auto;
  border-radius: 6px;
  border: none;
}

.close-modal .close-icon {
  font-size: 2rem;
  color: var$main-text-color;
  transition-duration: 250ms;
}

.close-modal:hover .close-icon {
  color: $main-color;
}

@media (max-width: 425px) {
  .modal-overlay {
    padding: 10px;
  }
}
