$main-color: rgb(249, 115, 22);

$main-bg-color: #F7F7F7;
$second-bg-color: #e2e7ee;

$main-text-color: #313746; /* High-emphasis text */
$secondary-text-color: #6b7280; /* Medium-emphasis text */
$tertiary-text-color: rgba(255, 255, 255, 0.38); /* Disabled text */
$light-text-color: #fff;
$dark-text-color: #212529;

$invalid-color: #c0392b;
$danger-color: rgb(231, 76, 60);
$valid-color: #239B56;

$text-size: 1.1rem;
$h1-size: 3.05rem;
$h2-size: 2.44rem;
$h3-size: 1.95rem;

$text-weight: 400;
$bold-text-weight: 700;
$big-title-weight: 700;
$title-weight: 600;

$text-font: 'Nunito', sans-serif;
$title-font: 'Nunito', sans-serif;

$main-border-radius: 18px;
